# Get these FREE from https://pusher.com → Create App
PUSHER_APP_ID=2134038
PUSHER_KEY=ye5ecabdc92e6d585d28f
PUSHER_SECRET=cbfad3fc58e580433d7e
PUSHER_CLUSTER=ap2   # e.g. ap2, us2, eu

# Same key (public) used on the frontend
NEXT_PUBLIC_PUSHER_KEY=ye5ecabdc92e6d585d28f
NEXT_PUBLIC_PUSHER_CLUSTER=ap2
